.ppz-page-home {
  height: 100vh;
  display: flex;
}

.ppz-page-home nav {
  width: 288px;
  position: relative;
  background-color: rgba(var(--color-fore-base), .03);
}

.ppz-page-home .nav_wrapper {
  height: 100%;
  overflow-y: auto;
}

.ppz-page-home article {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}