.ppz-page-home {
  height: 100vh;
  display: flex;
}

.ppz-page-home nav {
  width: 288px;
  position: relative;
  background-color: rgba(var(--color-fore-base), .03);
}

.ppz-page-home nav .left_top {
  height: 3rem;
  padding: 0 .5em 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(var(--color-fore-base), .06);
}
.ppz-page-home nav h1 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.ppz-page-home nav .collapse_nav {
  color: rgba(var(--color-fore-base), .6);
}
.ppz-page-home nav .collapse_nav:hover {
  color: rgba(var(--color-fore-base), 1);
}
.ppz-page-home nav .collapse_nav:has(:checked) {
  --width: 1px;
}

.ppz-page-home nav ul {
  height: calc(100% - 3rem);
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ppz-page-home nav li {
  margin: 0;
  padding: 0;
}
.ppz-page-home nav li a {
  display: block;
  line-height: 1;
  padding: 1em 1.5em;
  text-decoration: none;
  color: rgba(var(--color-fore-base), .58);
  transition: all .08s;
}
.ppz-page-home nav li a:hover {
  color: rgba(var(--color-fore-base), 1);
  background-color: rgba(var(--color-fore-base), .06);
}

.ppz-page-home article {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 2em;
}