.ppz-page-home {
  height: 100vh;
  display: flex;
}

.ppz-page-home nav {
  width: 388px;
  height: 100%;
  overflow-y: auto;
  position: relative;
}
.ppz-page-home nav::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: currentColor;
  opacity: .05;
}

.ppz-page-home article {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}