/* 参考 https://ppz-pro.github.io/css-components/#menu-icon */

.ppz_cmp_collapse_switch {
  --_size: var(--size, 2em);
  --_color: var(--color, currentColor);
  --_width: var(--width, 2px);
  --_padding: var(--padding, 8px);
  --_stroke-radius: var(--stroke-radius, calc(var(--_width) / 2));
  
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: var(--_padding);
  width: var(--_size);
  height: var(--_size);

  display: flex;
  align-items: center;
  justify-content: center;
}

.ppz_cmp_collapse_switch input {
  display: none;
}

/* stroke */
.ppz_cmp_collapse_switch::before, /* 上 */
.ppz_cmp_collapse_switch div, /* 中 */
.ppz_cmp_collapse_switch::after { /* 下 */
  background-color: var(--_color);
  border-radius: var(--_stroke-radius);
  height: var(--_width);
}

.ppz_cmp_collapse_switch::before,
.ppz_cmp_collapse_switch::after {
  content: '';
  display: block;
  position: absolute;
  left: var(--_padding);
  right: var(--_padding);
  transition: transform .3s;
}

.ppz_cmp_collapse_switch::before {
  top: var(--_padding);
}
.ppz_cmp_collapse_switch div {
  width: 100%;
  transition: opacity .3s;
}
.ppz_cmp_collapse_switch::after {
  bottom: var(--_padding);
}

.ppz_cmp_collapse_switch:has(:checked)::before {
  transform: translateY(calc(var(--_size) / 2 - var(--_padding) - var(--_width) / 2)) rotate(45deg);
  transform-origin: center center;
}
.ppz_cmp_collapse_switch:has(:checked) div {
  opacity: 0;
}
.ppz_cmp_collapse_switch:has(:checked)::after {
  transform: translateY(calc(var(--_width) / 2 + var(--_padding) - var(--_size) / 2)) rotate(-45deg);
  transform-origin: center center;
}
