header {
  position: sticky;
  top: 0;
  height: var(--header_height);
  background-color: var(--color-back);
  box-shadow: rgba(var(--color-fore-base), .06) 0px 1px 4px;
  padding: 0 4rem;

  display: flex;
  align-items: center;
}
header h1 {
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  margin: 0;
}
header div.publish_date {
  margin-left: 1rem;
  opacity: .8;
  padding-top: .2rem;
  font-size: .8rem;
}

header .links {
  margin-left: auto;
}
header .links a {
  margin-left: 1rem;
  color: rgba(var(--color-fore-base), .38);
  font-size: small;
}
header .links a:hover {
  color: rgba(var(--color-fore-base), 1);
}