header {
  position: sticky;
  top: 0;
  height: var(--header_height);
  background-color: var(--color-back);
  border-bottom: 1px solid rgba(var(--color-fore-base), .028);
  padding: 0 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  margin: 0;
}
header .links a {
  margin-left: 1rem;
  color: rgba(var(--color-fore-base), .38);
  font-size: small;
}
header .links a:hover {
  color: rgba(var(--color-fore-base), 1);
}