nav {
  width: 288px;
  transition: width .3s;
  position: relative;
  background-color: rgba(var(--color-fore-base), .03);
}
nav.collapse {
  width: 0;
}

nav.collapse .left_top {
  padding-left: 0;
}
nav.collapse h1 {
  display: none;
}

nav .left_top {
  position: relative;
  height: 3rem;
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(var(--color-fore-base), .06);
}
nav h1 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

nav .collapse_nav {
  position: absolute;
  right: .5em;
  color: rgba(var(--color-fore-base), .6);
  transform: translateX(160%);
  transition: transform .3s;
}
nav:not(.collapse) .collapse_nav {
  color: rgba(var(--color-fore-base), .3);
}
nav .collapse_nav:hover {
  color: rgba(var(--color-fore-base), 1);
}
nav .collapse_nav:has(:checked) {
  --width: 1px;
  transform: translateX(0);
}

nav ul {
  height: calc(100% - 3rem);
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  margin: 0;
  padding: 0;
}
nav li a {
  display: block;
  line-height: 1;
  padding: 1em 1.5em;
  text-decoration: none;
  color: rgba(var(--color-fore-base), .58);
  transition: all .08s;
}
nav li a:hover {
  color: rgba(var(--color-fore-base), 1);
  background-color: rgba(var(--color-fore-base), .06);
}
