nav {
  width: var(--nav_width);
  transition: width .3s;
  position: relative;
  background-color: rgba(var(--color-fore-base), .03);
}
nav.collapse {
  width: 0;
}

nav ul {
  height: 100%;
  overflow-y: auto;
  padding: .5em 0;
  margin: 0;
  list-style: none;
}

nav li {
  margin: 0;
  padding: 0;
}
nav li a {
  display: block;
  line-height: 1;
  padding: 1em 1.5em;
  text-decoration: none;
  white-space: nowrap;
  color: rgba(var(--color-fore-base), .58);
  transition: all .08s;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav li a span.number {
  font-size: .6em;
  vertical-align: bottom;
}
nav li a span.no_name {
  opacity: .58;
}

nav li a:hover:not([disabled]) {
  color: rgba(var(--color-fore-base), 1);
  background-color: rgba(var(--color-fore-base), .06);
}
nav li a[disabled] {
  color: rgba(var(--color-fore-base), 1);
  cursor: default;
}
