#react_app_root {
  height: 100vh;
  display: flex;
}

#react_app_root > .main {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

article {
  display: inline-block;
  width: calc(100% - var(--menu_width));
}
menu {
  vertical-align: top;
  display: inline-block;
  width: var(--menu_width);
}