:root {
  --color-link: rgb(0, 0, 238);
  --color-fore-base: 0, 0, 0;
  /* --color-fore-base: 255, 255, 255; */
  --color-fore: rgba(var(--color-fore-base), 1);
  --color-back-base: 255, 255, 255;
  /* --color-back-base: 0, 0, 0; */
  --color-back: rgba(var(--color-back-base), 1);

  --scroll-bar-width: 8px;
  --header_height: 4rem;
  --menu_width: 20rem;
  --nav_width: 288px;
}
