:root {
  --color-primary: rgb(0, 0, 238);
  --color-fore-base: 0, 0, 0;
  /* --color-fore-base: 255, 255, 255; */
  --color-fore: rgba(var(--color-fore-base), 1);
  --color-back-base: 255, 255, 255;
  /* --color-back-base: 0, 0, 0; */
  --color-back: rgba(var(--color-back-base), 1);

  --scroll-bar-width: 6px;
  --header_height: 3rem;
}
