:root {
  --color: rgb(0, 0, 238);
  --color-fore-base: 0, 0, 0;
  --color-fore: rgba(var(--color-fore-base), 1);
  --color-back-base: 255, 255, 255;
  --color-back: rgba(var(--color-back-base), 1);
}
